// Colors
// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

// Colors
$dark-grey: #333;
$grey: #666;
$off-white: #f7f7f7;
$blue: #1c88bf;
$dark-blue: #364051;
$black:#000;

$lavender:#F9E7E7;
$timber:#DED6D6;
$champagne-pink:#EBD6CB;
$dark-shadows:#ADA0A6;
$xanadu:#7D938A;

// Font Sizes
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;
